<a href="https://colab.research.google.com/github/Ayo-Cyber/Bot_00/blob/main/Insurance_Analysis_and_Prediction_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd #for data wrangling and cleaning
import numpy as np #for linear algebra

import seaborn as sns #for data visualization
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('/content/insurance.csv') #reading the data

In [3]:
df.info

<bound method DataFrame.info of       age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]>

In [5]:
df.columns #to display the columns in the dataset(df)

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [6]:
df.dtypes #checking the data types of each column in the dataset

age           int64
sex          object
bmi         float64
children      int64
smoker       object
region       object
charges     float64
dtype: object

In [7]:
df.isnull().sum() #checking the number of null values in each column

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [8]:
df.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [9]:
df.region.unique()

array(['southwest', 'southeast', 'northwest', 'northeast'], dtype=object)

In [10]:
df1 = pd.get_dummies(data = df , columns=["region"])

In [11]:
df1.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'charges',
       'region_northeast', 'region_northwest', 'region_southeast',
       'region_southwest'],
      dtype='object')

In [12]:
df1['smoker'].unique()

array(['yes', 'no'], dtype=object)

In [15]:
df1['smoker'].replace({'yes':1 , 'no':0},inplace=True)

In [16]:
df1.dtypes

age                   int64
sex                  object
bmi                 float64
children              int64
smoker                int64
charges             float64
region_northeast      uint8
region_northwest      uint8
region_southeast      uint8
region_southwest      uint8
dtype: object

In [17]:
df.sex.unique()

array(['female', 'male'], dtype=object)

In [18]:
df1['sex'].replace({'female':0 , 'male':1},inplace=True)

In [19]:
df1.dtypes

age                   int64
sex                   int64
bmi                 float64
children              int64
smoker                int64
charges             float64
region_northeast      uint8
region_northwest      uint8
region_southeast      uint8
region_southwest      uint8
dtype: object

In [31]:
from sklearn.preprocessing import MinMaxScaler
scaling = MinMaxScaler()
df1['age'] = scaling.fit_transform(df1['age'].values.reshape(-1,1))

In [32]:
df1.age

0       0.021739
1       0.000000
2       0.217391
3       0.326087
4       0.304348
          ...
1333    0.695652
1334    0.000000
1335    0.000000
1336    0.065217
1337    0.934783
Name: age, Length: 1338, dtype: float64

In [33]:
from sklearn.model_selection import train_test_split

In [34]:
x = df1.drop(["charges"],axis=1)
y = df1.charges

In [35]:
x_train , x_test , y_train , y_test = train_test_split(x , y , test_size=0.25 , random_state = 5)

In [37]:
x_train.shape

(1003, 9)

In [38]:
x_test.shape

(335, 9)

In [39]:
len(x_train.columns)

9

In [43]:
import tensorflow as tf
from tensorflow import keras

model = keras.Sequential([
                          keras.layers.Dense(20,input_shape =(9,) ,activation='relu'),
                          keras.layers.Dense(15 , activation ='relu'),
                          keras.layers.Dense(1,activation='sigmoid')

])

model.compile(optimizer = 'adam',
               loss="binary_crossentropy",
               metrics = ['accuracy'])

model.fit(x_train , y_train , epochs = 5)

Epoch 1/5
32/32 [==============================] - 1s 2ms/step - loss: -53877.2930 - accuracy: 0.0000e+00
Epoch 2/5
32/32 [==============================] - 0s 2ms/step - loss: -155311.1875 - accuracy: 0.0000e+00
Epoch 3/5
32/32 [==============================] - 0s 2ms/step - loss: -284277.5000 - accuracy: 0.0000e+00
Epoch 4/5
32/32 [==============================] - 0s 2ms/step - loss: -487265.0312 - accuracy: 0.0000e+00
Epoch 5/5
32/32 [==============================] - 0s 2ms/step - loss: -791056.8750 - accuracy: 0.0000e+00