<a href="https://colab.research.google.com/github/Ayo-Cyber/Bot_00/blob/main/Insurance_Analysis_and_Prediction_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [81]:
import pandas as pd #for data wrangling and cleaning
import numpy as np #for linear algebra

import seaborn as sns #for data visualization
import matplotlib.pyplot as plt

In [82]:
df = pd.read_csv('/content/insurance.csv') #reading the data

In [83]:
df.info

<bound method DataFrame.info of       age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]>

In [84]:
df.columns #to display the columns in the dataset(df)

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [85]:
df.dtypes #checking the data types of each column in the dataset

age           int64
sex          object
bmi         float64
children      int64
smoker       object
region       object
charges     float64
dtype: object

In [86]:
df.isnull().sum() #checking the number of null values in each column

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [87]:
df.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [88]:
df.region.unique()

array(['southwest', 'southeast', 'northwest', 'northeast'], dtype=object)

In [89]:
df1.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'charges',
       'region_northeast', 'region_northwest', 'region_southeast',
       'region_southwest'],
      dtype='object')

In [90]:
df1['smoker'].unique()

array([1, 0])

In [91]:
df1['smoker'].replace({'yes':1 , 'no':0},inplace=True)

In [92]:
df1.dtypes

age                 float64
sex                   int64
bmi                 float64
children              int64
smoker                int64
charges             float64
region_northeast      uint8
region_northwest      uint8
region_southeast      uint8
region_southwest      uint8
dtype: object

In [93]:
df.sex.unique()

array(['female', 'male'], dtype=object)

In [94]:
df1['sex'].replace({'female':0 , 'male':1},inplace=True)

In [95]:
df1.dtypes

age                 float64
sex                   int64
bmi                 float64
children              int64
smoker                int64
charges             float64
region_northeast      uint8
region_northwest      uint8
region_southeast      uint8
region_southwest      uint8
dtype: object

In [96]:
from sklearn.preprocessing import MinMaxScaler
scaling = MinMaxScaler()
df1['age'] = scaling.fit_transform(df1['age'].values.reshape(-1,1))
df1['bmi'] = scaling.fit_transform(df1['bmi'].values.reshape(-1,1))

In [97]:
df1.age

0       0.021739
1       0.000000
2       0.217391
3       0.326087
4       0.304348
          ...
1333    0.695652
1334    0.000000
1335    0.000000
1336    0.065217
1337    0.934783
Name: age, Length: 1338, dtype: float64

In [98]:
from sklearn.model_selection import train_test_split

In [100]:
x = df1.drop(["charges",'region_northeast', 'region_northwest', 'region_southeast','region_southwest'],axis=1)
y = df1.charges

In [101]:
x_train , x_test , y_train , y_test = train_test_split(x , y , test_size=0.25 , random_state = 5)

In [102]:
x_train.shape

(1003, 5)

In [103]:
x_test.shape

(335, 5)

In [104]:
len(x_train.columns)

5

In [105]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

model.fit(x_train , y_train)

LinearRegression()

In [106]:
model.score(x_test , y_test)

0.7607559004015392

In [107]:
y_predict = model.predict(x_test)

In [108]:
y_predict[:5]

array([ 2308.48245407, 27260.88808996, 11519.62639381,  5210.63302365,
        8636.99010267])

In [109]:
y_test[:5]

471      2203.47185
1250    18648.42170
1257    11305.93455
139      2166.73200
919      5245.22690
Name: charges, dtype: float64

In [110]:
x_test

           age  sex       bmi  children  smoker
471   0.000000    0  0.380818         0       0
1250  0.130435    1  0.373150         0       1
1257  0.782609    0  0.314366         1       0
139   0.086957    0  0.539144         0       0
919   0.369565    0  0.490987         1       0
...        ...  ...       ...       ...     ...
825   1.000000    0  0.426823         2       0
1275  0.847826    1  0.208232         0       0
60    0.543478    1  0.306699         3       0
1215  0.000000    1  0.623621         0       0
12    0.108696    1  0.496099         0       0

[335 rows x 5 columns]